<section id="landing">
    <div class="wrapper">

        <div class="dark-background">
            <article class="container">
                <h1 class="col-1 row-1">E-Shop</h1>
                <div class="col-1 row-2">

                    <p>The number one electronics provider in Europe.</p>
                    <p>Browse our stock <a href="/store">here</a>.</p>
                </div>
                <div class="col-2 row-2">
                    <p>Explore the latest gadgets, components, and cutting-edge technology with our friendly and
                        knowledgeable staff. From smartphones to gaming consoles and DIY essentials</p>
                </div>
            </article>
        </div>
    </div>
</section>