<section id="landing">
    <div class="wrapper">
        <div class="dark-background">
            <article class="container">
                <h1 class="col-1 row-1" @slideInFromLeft>Electronics Shop</h1>
                <div class="col-1 row-2 info" @slideInFromLeft>
                    <p>The number one electronics provider in Europe.</p>
                    <p>Browse our stock <a routerLink="/store" routerLinkActive="active"
                            ariaCurrentWhenActive="page">here</a>.</p>
                    <p>Explore the latest gadgets, components, and cutting-edge technology with our friendly and
                        knowledgeable staff. From smartphones to gaming consoles and DIY essentials</p>
                </div>
                <div class="icon-wrapper">
                    <div class="orbit-wrapper-1">
                        <img src="./assets/icons/tvicon.png" alt="">
                    </div>
                    <div class="orbit-wrapper-2">
                        <img src="./assets/icons/phoneicon.png" alt="">
                    </div>
                    <div class="orbit-wrapper-3">
                        <img src="./assets/icons/laptopicon.png" alt="">
                    </div>
                    <div class="orbit-wrapper-4">
                        <img src="./assets/icons/mouseicon.png" alt="">
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>