header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/1;
  height: 100%;
  border-bottom: 1px solid #1a1a1a;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  align-items: center;
}
li {
  font-size: 22px;
  cursor: pointer;
  font-weight: 500;
}
li:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
button:hover {
  text-decoration: underline;
}
a {
  color: black;
  text-decoration: none;
}
