section {
  width: 100%;
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
section {
  min-height: 84vh;
}
