<main>
    <app-header></app-header>
    <div class="wrapper">

        <section class="container">
            <article class="grid-article">
                <h1>About Electronics Shop</h1>
                <p>
                    Welcome to Electronics Shop - Your Ultimate Destination for Cutting-Edge
                    Electronics!

                    At Electronics Shop, we believe in bringing the latest technology to your fingertips. Established
                    with a
                    passion
                    for innovation and a commitment to quality, we have become a trusted name in the world of
                    electronics
                    retail.
                    From computers and laptops to TVs, smartphones, displays, and accessories like mice and keyboards,
                    we
                    have
                    everything you need to stay connected, entertained, and productive.
                </p>
                <img src="./assets/store-about-us-1.avif" alt="">
            </article>
            <article class="grid-article">
                <h2>Our Story</h2>
                <img src="./assets/store-about-us-2.avif" alt="">
                <p>
                    Founded in 960, Electronics Shop was born out of a vision to create a one-stop-shop for all your
                    electronic needs. Our founder, Mieszko I, envisioned a space where customers could explore
                    the latest gadgets, experience top-notch customer service, and make informed decisions about their
                    technology investments.
                </p>
            </article>
            <article class="apart-article">
                <h3>What Sets Us Apart</h3>
                <ul>
                    <li>
                        <h4>Curated Selection</h4>
                        <p>We understand that the world of electronics can be overwhelming with countless options.
                            That's why we take pride in curating a carefully selected range of products, ensuring that
                            each item on our shelves meets our stringent standards for quality, performance, and
                            innovation.</p>
                    </li>
                    <li>
                        <h4>Expert Guidance</h4>
                        <p>Not sure which laptop suits your needs or which TV offers the best viewing experience? Our
                            knowledgeable and friendly staff are here to help. With a passion for technology and a
                            commitment to staying updated on the latest trends, our team is dedicated to providing
                            expert guidance to help you make the right choices.</p>
                    </li>
                    <li>
                        <h4>Customer-Centric Approach</h4>
                        <p>At Electronics Shop, our customers are at the heart of everything we do. We strive to create
                            a seamless shopping experience, from browsing our website to receiving your order at your
                            doorstep. Our customer support team is always ready to assist you, ensuring your
                            satisfaction every step of the way.</p>
                    </li>
                </ul>
            </article>
            <article class="stock-article">
                <h3>Our Product Range</h3>
                <ul>
                    <li>
                        <h4>Computers and Laptops</h4>
                        <p>Unleash the power of advanced computing with our range of cutting-edge desktops and laptops
                            from leading brands.</p>
                    </li>
                    <li>
                        <h4>TVs</h4>
                        <p>Immerse yourself in stunning visuals and crystal-clear audio with our selection of
                            high-quality televisions, perfect for movie nights and gaming marathons.</p>
                    </li>
                    <li>
                        <h4>Smartphones</h4>
                        <p>Stay connected on the go with the latest smartphones, featuring innovative technologies and
                            sleek designs.</p>
                    </li>
                    <li>
                        <h4>Displays</h4>
                        <p> Enhance your workspace or gaming setup with our premium displays, delivering vibrant colors
                            and sharp resolutions.</p>
                    </li>
                    <li>
                        <h4>Mice and Keyboards</h4>
                        <p> Elevate your productivity and gaming experience with our ergonomic and responsive mice and
                            keyboards.</p>
                    </li>
                </ul>
            </article>
            <article class="visit-article">
                <h3>Visit Us Today!</h3>
                <p>Whether you're a tech enthusiast, a professional seeking powerful tools, or someone looking to
                    upgrade their entertainment system, Electronics Shop is the place for you. Visit our <a
                        routerLink="/store" routerLinkActive="active">store</a> today to
                    experience the future of electronics!
                </p>
                <p>Thank you for choosing Electronics Shop. We look forward to serving you and helping you discover the
                    endless possibilities of technology.</p>
            </article>
        </section>
    </div>
    <app-footer></app-footer>
</main>