<div class="wrapper">
    <h2>{{product.name}}</h2>
    <img [src]="'/assets/products/product-'+ this.product.id +'.png'" alt="" />
    <p>{{product.description}}</p>
    <span>{{product.price}}$</span>
    <button *ngIf="(itemAmount$ | async) === undefined" (click)="addItemToCart(product.id)">Add to cart</button>
    <span class="remove" *ngIf="itemAmount$ | async">
        <div class="button-wrapper">
            <span>In Cart: {{itemAmount$ | async}}</span>
            <button class="small" (click)="addItemToCart(product.id)">+</button>
            <button class="small" (click)="removeItemFromCart(product.id)">-</button>
            <button class="small" (click)="clearItemFromCart(product.id)">x</button>
        </div>
    </span>
</div>