ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
li:hover {
  text-decoration: underline;
  background-color: #1a1a1a12;
  font-weight: 600;
  /* transition: all 0.4s ease;
  transform: translateY(-6px); */
}

:host {
  display: flex;
  justify-content: center;
}
li.active {
  background-color: #1a1a1a50;
}
