ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  height: 3rem;
  margin: 0;
}

li {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
li:hover {
  text-decoration: underline;
  background-color: #1a1a1a12;
}

:host {
  display: flex;
  justify-content: center;
}
