article {
  position: fixed;
  top: 0;
  right: -930px;
  background-color: white;
  border-left: 1px solid #999999;
  width: 92%;
  height: 100dvh;
  z-index: 10;
  transition: all 0.33s ease;
  padding: 2rem 1rem;
}
.name {
  display: none;
}

article.show {
  right: 0px;
}
article .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
button.close {
  position: absolute;
  top: 0;
  right: 0;
}
h2 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 2.5rem 0;
}

li {
  display: flex;
  height: 3rem;
  font-size: 1.2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 100%;
  width: 60px;
  object-fit: contain;
}

button.bigger {
  width: auto;
  height: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

.price {
  color: green;
  font-weight: 600;
}
.total-price {
  display: flex;
  justify-content: end;
  font-size: 32px;
  color: green;
  font-weight: 600;
  margin-right: 40px;
}

@media (min-width: 1000px) {
  article {
    width: 500px;
  }
  .name {
    display: inline;
  }
}
