button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

button {
  padding: 0.25rem;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 14px;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  transition: all 0.33s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: rgb(236, 236, 236);
  color: white;
  border-radius: 14px;
}
